<!DOCTYPE html>
<!-- 
This is the base template (HTML file) for all other templates.
It is inherited and expanded upon by other templates. 
It utilizes Jinja blocks to meet that end.
-->

<!-- 
HEAD block.
It is used to import css and js files. 
-->

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"> </script>
{% block HEAD %}
{% endblock HEAD %}
</head>


<!--
This block is for defining forms used in different templates.
My preferred format for forms requires that forms must be
defined in parallel with body, not inside it.
-->
{% block FORMS %}
{% endblock FORMS %}

<!--
BODY block.
This block contains content and tools for interaction
with the website (interface). It sets the layout for
every form, which is 3 columns.
-->
<body style="background-image: url({{ url_for('serve_media', path='images/bg_img.jpg') }})">
        <div class="navbar">
            {% block NAVBAR_CONTENT %}
            {% endblock NAVBAR_CONTENT %}
            <button class="navbarButton" onclick="window.location.href='about'">
                About
            </button>
            <button class="navbarButton" onclick="window.location.href='projects'">
                Projects
            </button>
            <button class="navbarButton" onclick="window.location.href='feedback'">
                Feedback
            </button>
            <button id="APIButton" class="APIButton">
                API
            </button>
        </div>
        <div class="content">
            {% block BODY_CONTENT %}
            {% endblock BODY_CONTENT %}

        </div>
        <div class="sidebar">
            {% block SIDEBAR_CONTENT %}
            {% endblock SIDEBAR_CONTENT %}
        </div>

</body>

<!--
FOOTER block.
This block i'm not sure what it's for.
-->
<footer>
    <script type="text/javascript">
        getAPIURL();
    </script>
{% block FOOTER %}
{% endblock FOOTER %}
</footer>

<!--
Made by Gracjan Blazejowski, 
October 2025
-->