{% extends 'list_base.html' %}


{% block HEAD1 %}
    <script src="{{url_for('static', filename='js/co2_fact_submissions.js')}}"> </script>
{% endblock HEAD1 %}


{% block ADD_FORM %}
    <label> Source </label>
    <input name="Source" required>
    <label> Fact </label>
    <textarea name="Fact" type="text" required></textarea>
    <label> Co2 </label>
    <div style="display: flex; flex-direction:column;">
        <input name="Co2" step="any" type="number" required>
        <select name="Co2Unit" id="editFormCo2Select" required>
            <option value="gt">Gigatons</option>
            <option value="mt">Megatons</option>
            <option value="kt">Kilotons</option>
            <option value="t">Tons</option>
            <option value="kg">Kilograms</option>
            <option value="g">Grams</option>
        </select>
    </div>
    <label> Timespan </label>
    <div style="display: flex; flex-direction:column;">
        <input name="Timespan" step="any" type="number" required>
        <select name="TimespanUnit" id="editFormTimespanSelect" required>
            <option value="y"> Years </option>
            <option value="m"> Months </option>
            <option value="w"> Weeks </option>
            <option value="d"> Days </option>
            <option value="h"> Hours </option>
            <option value="m"> Minutes </option>
            <option value="s"> Seconds </option>
        </select>
    </div>
{% endblock ADD_FORM %}

{% block EDIT_FORM %}
    <input name="ID" id="editFormIDInput" type="hidden" required readonly>
    <label> Source </label>
    <input name="Source" id="editFormSourceInput" required>
    <label> Fact </label>
    <textarea name="Fact" id="editFormFactInput" type="text" required></textarea>
    <label> Co2 </label>
    <div style="display: flex; flex-direction:column;">
        <input name="Co2" id="editFormCo2Input" step="any" type="number" required>
        <select name="Co2Unit" id="editFormCo2Select" required>
            <option value="gt">Gigatons</option>
            <option value="mt">Megatons</option>
            <option value="kt">Kilotons</option>
            <option value="t">Tons</option>
            <option value="kg">Kilograms</option>
            <option value="g">Grams</option>
        </select>
    </div>
    <label> Timespan </label>
    <div style="display: flex; flex-direction:column;">
        <input name="Timespan" id="editFormTimespanInput" step="any" type="number" required>
        <select name="TimespanUnit" id="editFormTimespanSelect" required>
            <option value="y"> Years </option>
            <option value="m"> Months </option>
            <option value="w"> Weeks </option>
            <option value="d"> Days </option>
            <option value="h"> Hours </option>
            <option value="m"> Minutes </option>
            <option value="s"> Seconds </option>
        </select>
    </div>
{% endblock EDIT_FORM %}

{% block DELETE_FORM %}
    <label> Delete entry: </label>
    <input name="ID" id="deleteFormIDInput" required readonly>
{% endblock DELETE_FORM %}


{% block FOOTER %}
<script type="text/javascript">
    populateEntries({{submissions|tojson}})
</script>
{% endblock FOOTER %}