{% extends 'list_base.html' %}


{% block HEAD1 %}
    <script src="{{url_for('static', filename='js/co2_fact_submissions.js')}}"> </script>
{% endblock HEAD1 %}


{% block ADD_FORM %}
    <label> Source </label>
    <input name="Source" required>
    <label> Fact </label>
    <textarea name="Fact" type="text" required></textarea>
    <label> Co2 </label>
    <div style="display: flex; flex-direction:column;">
        <input name="Co2" type="number" required>
        <select name="Co2Unit" required>
            <option value="1000000"> Tonnes </option>
            <option value="1000"> Kilograms </option>
            <option value="1"> Grams </option>
        </select>
    </div>
    <label> Timespan </label>
    <div style="display: flex; flex-direction:column;">
        <input name="Timespan" type="number" required>
        <select name="TimespanUnit" required>
            <option value="29030400"> Years </opion>
            <option value="2419200"> Months </option>
            <option value="604800"> Weeks </otpion>
            <option value="86400"> Days </option>
            <option value="3600"> Hours </option>
            <option value="60"> Minutes </option>
            <option value="1"> Seconds </option>
        </select>
    </div>
{% endblock ADD_FORM %}

{% block EDIT_FORM %}
    <input name="ID" id="editFormIDInput" type="hidden" required readonly>
    <label> Source </label>
    <input name="Source" id="editFormSourceInput" required>
    <label> Fact </label>
    <textarea name="Fact" id="editFormFactInput" type="text" required></textarea>
    <label> Co2 </label>
    <div style="display: flex; flex-direction:column;">
        <input name="Co2" id="editFormCo2Input" type="number" required>
        <select name="Co2Unit" id="editFormCo2Select" required>
            <option value="1000000000000000"> Gigatons </option>
            <option value="1000000000000"> Megatons </option>
            <option value="1000000000"> Kilotons </option>
            <option value="1000000"> Tons </option>
            <option value="1000"> Kilograms </option>
            <option value="1"> Grams </option>
        </select>
    </div>
    <label> Timespan </label>
    <div style="display: flex; flex-direction:column;">
        <input name="Timespan" id="editFormTimespanInput" type="number" required>
        <select name="TimespanUnit" id="editFormTimespanSelect" required>
            <option value="29030400"> Years </opion>
            <option value="2419200"> Months </option>
            <option value="604800"> Weeks </otpion>
            <option value="86400"> Days </option>
            <option value="3600"> Hours </option>
            <option value="60"> Minutes </option>
            <option value="1"> Seconds </option>
        </select>
    </div>
{% endblock EDIT_FORM %}

{% block DELETE_FORM %}
    <label> Delete entry: </label>
    <input name="ID" id="deleteFormIDInput" required readonly>
{% endblock DELETE_FORM %}


{% block FOOTER %}
<script type="text/javascript">
    populateEntries({{submissions|tojson}})
</script>
{% endblock FOOTER %}