{% extends 'list_base.html' %}

<!--
This template displays feedback submitted by people,
and defines the form used in submitting that feedback.
-->

{% block HEAD1 %}
    <script type="text/javascript" src="{{ url_for('static', filename="js/feedback.js") }}"> </script>
{% endblock HEAD1 %}
        
{% block ADD_FORM %}
    <label> Author: </label>
    <input name="Author" required> 
    <label> Feedback: </label>
    <input name="Feedback" required>
{% endblock ADD_FORM %}

{% block DELETE_FORM %}
    <input name="ID" id="deleteFormIDInput" type="hidden" required readonly>
    <label> Feedback: </label>
    <input id="deleteFormFeedbackInput" readonly>
    <label> From Author: </label>
    <input id="deleteFormAuthorInput" readonly>
{% endblock DELETE_FORM %}

{% block FOOTER %}
<script type="text/javascript">
    populateFeedbacks({{ all_feedbacks|tojson }})
</script>
{% endblock FOOTER %}