{% extends 'base.html' %}

<!-- 
This is the base template for all list templates.
-->
{% block HEAD %}
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/list_base.css' ) }}">
    <script src="{{ url_for( 'static', filename='js/list_base.js' ) }}"> </script>
    {% block HEAD1 %}
    {% endblock HEAD1 %}
{% endblock HEAD %}

<!-- This block contains all of the forms used by the template; the whole CRUD. 
They are quite crude (hehe), and this is perfectly intentional as different endpoints
may need to send different fields to the server. Each form contains a Jinja2 block
that is then expanded upon in each individual list form (e.g. projects.html) to
provide the endpoint-specific fields. 
-->
{% block FORMS %}
    <div id="addFormContainer" class="addFormContainer" style="display:none;" onclick="this.style.display = 'none'">
        <form onclick="event.stopPropagation()" id="addForm" class="addForm" method="POST">
            <input name="_method" readonly type="hidden" value="POST">
            {% block ADD_FORM %}
            {% endblock ADD_FORM %}
            <button type="submit"> Submit </button>
        </form>
    </div>

    <div id="editFormContainer" class="editFormContainer" style="display:none;" onclick="this.style.display = 'none'">
        <form onclick="event.stopPropagation()" id="editForm" class="editForm" method="POST">
            <input name="_method" readonly type="hidden" value="PUT">
            {% block EDIT_FORM %}
            {% endblock EDIT_FORM %}
            <button type="submit"> Submit </button>
        </form>
    </div>

    <div id="deleteFormContainer" class="deleteFormContainer" style="display:none;" onclick="this.style.display = 'none'">
        <form onclick="event.stopPropagation()" id="deleteForm" class="deleteForm" method="POST">
            <input name="_method" readonly type="hidden" value="DELETE">
            {% block DELETE_FORM %}
            {% endblock DELETE_FORM %}
            <button type="submit"> Submit </button>
        </form>
    </div>
{% endblock FORMS %}

<!-- 
The content of each list form is structured the same for uniformity's sake.
The actual content (inside contentContainer) might vary from endpoint to endpoint,
which is why it is left empty. It is later populated with javascript using data
from the database.
The "messageBox" container is used to display request statuses returned from the
server after POST requests.
The buttonsBar container contains all of the buttons that are used for CRUD operations
on the database records.
-->
{% block BODY_CONTENT %}
    <div id="contentContainer" class="contentContainer">
    </div>
    <div id="messageBox" class="messageBox">
        <p> {{ message }} </p>
    </div>
    <div class="buttonsBar">
        <button class="addEntryButton" id="addEntryButton" onclick="showAddForm()">
            Add
        </button>
        <button class="editEntryButton" id="editEntryButton" onclick="showEditForm()" disabled>
            Edit
        </button>
        <button class="deleteEntryButton" id="deleteEntryButton" onclick="showDeleteForm()" disabled>
            Delete
        </button>
    </div>
{% endblock BODY_CONTENT %}