{% extends 'list_base.html' %}

<!--
This template showcases my projects. It receives and displays
database entries, and provides an interface for creating, updating,
reading, and deleting (CRUD) them.

At the moment anyone can post whatever, but in future, this functionality
will be gated.
-->

{% block HEAD1 %}
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/projects.css' ) }}">
    <script type="text/javascript" src="{{ url_for( 'static', filename='js/projects.js' ) }}"></script>
{% endblock HEAD1 %}

{% block ADD_FORM %}
    <label> Name: </label>
    <input name="Name" required>
    <label> Description: </label>
    <textarea name="Description" required></textarea>
{% endblock ADD_FORM %}

{% block EDIT_FORM %}
    <input id="editFormIDInput" name="ID" hidden>
    <label> Name: </label>
    <input name="Name" id="editFormNameInput" required>
    <label> Description: </label>
    <textarea name="Description" id="editFormDescriptionInput" required></textarea>
{% endblock EDIT_FORM %}

{% block DELETE_FORM %}
    <input id="deleteFormIDInput" name="ID" hidden>
    <input name="Name" id="deleteFormNameInput" readonly> 
{% endblock DELETE_FORM %}


{% block FOOTER %}
<script type="text/javascript">
    populateProjects({{ projects|tojson }})
</script>
{% endblock FOOTER %}