{% extends 'base.html' %}

<!--
This template showcases my projects. It receives and displays
database entries, and provides an interface for creating, updating,
reading, and deleting (CRUD) them.

At the moment anyone can post whatever, but in future, this functionality
will be gated.
-->

{% block HEAD %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='css/projects.css' ) }}">
<script type="text/javascript" src="{{ url_for( 'static', filename='js/projects.js' ) }}"></script>
{% endblock HEAD %}

{% block FORMS %}
<div class="addProjectFormContainer" id="addProjectFormContainer" onclick="hideForm(this)">
    <form method="POST" action="projects/add" onclick="event.stopPropagation()">
        <label> Name: </label>
        <input name="ProjectName" required>
        <label> Description </label>
        <textarea name="ProjectDescription" required></textarea>
        <button type="submit"> Submit </button>
    </form>
</div>

<div class="editProjectFormContainer" id="editProjectFormContainer" onclick="hideForm(this)">
    <form method="POST" action="projects/edit" onclick="event.stopPropagation()">
        <input id="editProjectFormIDInput" name="ProjectID" hidden>
        <label> Name: </label>
        <input name="ProjectName" id="editProjectFormNameInput" required>
        <label> Description </label>
        <textarea name="ProjectDescription" id="editProjectFormDescriptionInput" required></textarea>
        <button type="submit"> Submit </button>
    </form>
</div>

<div class="removeProjectFormContainer" id="removeProjectFormContainer" onclick="hideForm(this)">
    <form method="POST" action="projects/remove" onclick="event.stopPropagation()">
        <input id="removeProjectFormIDInput" name="ProjectID" hidden>
        <input name="ProjectName" id="removeProjectFormNameInput" readonly> 
        <button type="submit"> Submit </button>
    </form>
</div>
{% endblock FORMS %}

{% block BODY_CONTENT %}
<div class="projectsContainer" id="projectsContainer">
</div>
<div class="buttonsBar">
    <button class="addProjectButton" id="addProjectButton" onclick="showAddProjectForm()">
        +
    </button>
    <button class="editProjectButton" id="editProjectButton" onclick="showEditProjectForm()" disabled>
        Edit
    </button>
    <button class="removeProjectButton" id="removeProjectButton" onclick="showRemoveProjectForm()" disabled>
        X
    </button>
</div>
{% endblock BODY_CONTENT %}

{% block SIDEBAR_CONTENT %}
<button onclick="window.location.href='/projects/raw'" style="margin-top:auto; margin-bottom:20px;"> raw </button>
{% endblock SIDEBAR_CONTENT %}

{% block FOOTER %}
<script type="text/javascript">
    populateProjects({{ projects|tojson }})
</script>
{% endblock FOOTER %}